<main>
  <div class="assinatura-container">
    <!-- Mensagem de carregamento -->
    <div *ngIf="carregando" class="loading">
      <p>Carregando documento...</p>
    </div>
  
    <!-- Mensagem de erro -->
    <div *ngIf="erro" class="erro">
      <p>{{ erro }}</p>
    </div>
  
    <!-- Conteúdo principal -->
    <img src="assets/contract.svg" alt="icone de um contrato" class="contract-icon">
    <h2 class="title">Termo e condições</h2>
    <div *ngIf="!carregando && !erro && assinatura" class="conteudo">
      <!-- Visualização do PDF -->
      <div class="pdf-container" *ngIf="pdfUrl">
        <iframe [src]="pdfUrl" width="100%" height="600px" style="border: 1px solid #ccc;"></iframe>
      </div>
      <div *ngIf="podeAssinar">
        <label>CPF:</label>
        <input type="text" [(ngModel)]="cpfInformado" placeholder="Digite seu CPF" />

        <label>Selfie:</label>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" />
        <img *ngIf="selfiePreview" [src]="selfiePreview" alt="Preview da selfie" width="200" />
      </div>
  
      <!-- Ações -->
      <div class="acoes">
        <button *ngIf="podeAssinar" (click)="confirmarAssinatura()" class="ass-btn">Li e estou de acordo</button>
      </div>
    </div>
  </div>
</main>