@import "../../../styles/variables.scss";
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-gray;
  color: $white;
  padding: 12px;
}

section.listass {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  background-color: $dark-gray;
}
